<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>

        <servlet-name>AddSongServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddSongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSongServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditSongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllArtistSongsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetAllArtistSongsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSongServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSongServlet</servlet-name>
        <url-pattern>/AddSongServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSongServlet</servlet-name>
        <url-pattern>/EditSongServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllArtistSongsServlet</servlet-name>
        <url-pattern>/GetAllArtistSongsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSongServlet</servlet-name>
        <url-pattern>/DeleteSongServlet.do</url-pattern>

        
    </servlet>
    <servlet>
        <servlet-name>ViewUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordResetServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PasswordResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordUpdateServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PasswordUpdateServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ViewUserServlet</servlet-name>
        <url-pattern>/ViewUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordResetServlet</servlet-name>
        <url-pattern>/PasswordResetServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordUpdateServlet</servlet-name>
        <url-pattern>/PasswordUpdateServlet.do</url-pattern>

    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
